.wrapper{
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
  

.wrapper h1.header{
  text-align: center;
}
.courses{
  margin: 2rem auto;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.course{
  padding: 2rem 0;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, .3);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rosybrown;
  cursor: pointer;
  color: white;
  font-weight: 600;
}
.course:hover{
  background-color: #924D4D;
  box-shadow: 0 10px 10px -5px;

}